<a href="https://colab.research.google.com/github/wojr21/courses/blob/main/DS_bootcamp_exercises/161_170_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas

### Spis treści:
* [Import biblioteki](#0)
* [Ćwiczenie 161](#1)
* [Ćwiczenie 162](#2)
* [Ćwiczenie 163](#3)
* [Ćwiczenie 164](#4)
* [Ćwiczenie 165](#5)
* [Ćwiczenie 166](#6)
* [Ćwiczenie 167](#7)
* [Ćwiczenie 168](#8)
* [Ćwiczenie 169](#9)
* [Ćwiczenie 170](#10)

### <a name='0'></a>Import biblioteki

In [ ]:
import numpy as np
import pandas as pd

pd.options.display.float_format = '{:.2f}'.format
np.__version__

### <a name='1'></a> Ćwiczenie 161
Wczytaj do obiektu _DataFrame_ o nazwie _df_ plik csv znajdujący się pod linkiem:
* https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv

Ustaw indeks obiektu _df_ na pierwszą kolumnę. Wyświetl obiekt _df_.

In [ ]:
# tutaj wpisz rozwiązanie

Wyświetl informacje na temat obiektu _df_.

In [ ]:
# tutaj wpisz rozwiązanie

Wyświetl podstawowe statystyki obiektu _df_.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='2'></a> Ćwiczenie 162
Znajdź listę zawierającą nazwy wszystkich kolumn obiektu _df_.

In [ ]:
# tutaj wpisz rozwiązanie

Z obiektu _df_ usuń kolumnę o nazwie _New_Price_ i wyświetl 5 pierwszych wierszy.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='3'></a> Ćwiczenie 163
Znajdź liczbę brakujących wartości dla każdej zmiennej obiektu _df_.

In [ ]:
# tutaj wpisz rozwiązanie

Usuń wszystkie wiersze z obiektu _df_ zawierające braki danych. Użyj parametru _inplace=True_.

In [ ]:
# tutaj wpisz rozwiązanie

Wyświetl raz jeszcze informacje na temat obiektu _df_. Zwróć uwagę na liczbę wierszy i typ danych.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='4'></a> Ćwiczenie 164
Zamień wszystkie litery w nazwach kolumn na małe, np.:
* Name -> name
* Fuel_Type -> fuel_type  

Wyświetl metodą _head()_ pięć pierwszych wierszy.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='5'></a> Ćwiczenie 165
Znajdź rozkład wartości zmiennej _owner_type_.

In [ ]:
# tutaj wpisz rozwiązanie

Znajdź rozkład wartości zmiennej _engine_.

In [ ]:
# tutaj wpisz rozwiązanie

Zauważ, że zmienna _engine_ jest typu _object_. Usuń 3 ostatnie znaki z każdego elementu i resztę skonwertuj na typ int. Wyświetl metodą _head()_ pięć pierwszych wierszy.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='6'></a> Ćwiczenie 166
Spójrz na rozkład zmiennej _power_. Zauważ, że ta zmienna ma także braki danych w postaci wartości _'null bhp'_. Zamień te wartości dla zmiennej _power_ na wartość _np.nan_. Wykorzystaj przy tym funkcję _np.where()_.

In [ ]:
# tutaj wpisz rozwiązanie

Usuń jeszcze raz wszystkie rekordy z brakami danych.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='7'></a> Ćwiczenie 167
Zauważ, że zmienna _power_ jest typu _object_. Usuń 4 ostatnie znaki z każdego elementu i resztę skonwertuj na typ float. 

Wyświetl metodą _head()_ pięć pierwszych wierszy.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='8'></a> Ćwiczenie 168
Pogrupuj dane na poziomie roku (_year_) i policz liczbę rekordów dla każdego roku w obiekcie _df_.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='9'></a> Ćwiczenie 169
Sprawdź rozkład zmiennej _transmission_.

In [ ]:
# tutaj wpisz rozwiązanie

Dokonaj następującego mapowania zmiennej _transmission_:
* Manual -> 0
* Automatic -> 1

Wyświetl metodą _head()_ pięć pierwszych wierszy.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='10'></a> Ćwiczenie 170
Zapisz obiekt _df_ do pliku _car.csv_ (nie zapisuj indeksu).

In [ ]:
# tutaj wpisz rozwiązanie

Uruchom poniższą instrukcję w celu sprawdzenia.

In [ ]:
!head car.csv