<a href="https://colab.research.google.com/github/wojr21/courses/blob/main/DS_bootcamp_exercises/211_220_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Science Bootcamp

### Spis treści:
* [Import biblioteki](#0)
* [Ćwiczenie 211](#1)
* [Ćwiczenie 212](#2)
* [Ćwiczenie 213](#3)
* [Ćwiczenie 214](#4)
* [Ćwiczenie 215](#5)
* [Ćwiczenie 216](#6)
* [Ćwiczenie 217](#7)
* [Ćwiczenie 218](#8)
* [Ćwiczenie 219](#9)
* [Ćwiczenie 220](#10)

### <a name='0'></a>Import biblioteki

In [ ]:
import numpy as np
import pandas as pd

np.__version__

### <a name='1'></a> Ćwiczenie 211
Podany jest poniższy obiekt _DataFrame_:

```
df = pd.DataFrame(data={'height': [175., 178.5, 185., 191., 184.5, 183., 168.]})
```
Dokonaj dyskretyzacji zmiennej _height_ na 3 przedziały o równej szerokości. Wynik przypisz do nowej kolumny _height_cut_.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='2'></a> Ćwiczenie 212
Dokonaj dyskretyzacji zmiennej _height_ na 3 przedziały o zadanej postaci:
* (160, 175]
* (175, 180]
* (180, 195]

Wynik przypisz do nowej kolumny _height_cut_2_.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='3'></a> Ćwiczenie 213
Dokonaj dyskretyzacji zmiennej _height_ na 3 przedziały o zadanej postaci:
* (160, 175]
* (175, 180]
* (180, 195]

oraz przypisz im odpowiednio etykiety:

* small
* medium
* high

Wynik przypisz do nowej kolumny _height_cut_3_.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='4'></a> Ćwiczenie 214
Usuń kolumny _height_cut_ oraz _height_cut_2_ z obiektu _df_.

In [ ]:
# tutaj wpisz rozwiązanie

Zmień nazwę kolumny _height_cut_3_ na _height_level_.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='5'></a> Ćwiczenie 215
Uzyskaj kodowanie 0-1 obiektu _df_ dzięki funkcji _pd.get_dummies()_.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='6'></a> Ćwiczenie 216
Podany jest poniższy obiekt _df_:


```
df = pd.DataFrame(data={'lang': [['PL', 'ENG'], ['GER', 'ENG', 'PL', 'FRA'], ['RUS']]})
```
Zbuduj nową kolumnę o nazwie _length_, która przyjmie długość listy kolumny _lang_.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='7'></a> Ćwiczenie 217 
Zbuduj nową kolumnę o nazwie _PL_flag_, która przyjmie wartość 1, gdy język 'PL' będzie w liście w kolumnie _lang_, przeciwnie 0.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='8'></a> Ćwiczenie 218
Podany jest poniższy obiekt _df_:


```
df = pd.DataFrame(data={'website': ['wp.pl', 'onet.pl', 'google.com']})
```
Podziel kolumnę _website_ względem znaku kropki (.) na dwie kolumny o nazwach _portal_ oraz _ending_.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='9'></a> Ćwiczenie 219
Wytnij wszystkie wiersze obiektu _df_ dla którego kolumna _portal_ zawiera literę 'o'.

In [ ]:
# tutaj wpisz rozwiązanie

### <a name='10'></a> Ćwiczenie 210
Zamień wszystkie rozszerzenia _com_ z kolumny _ending_ na _org_.

In [ ]:
# tutaj wpisz rozwiązanie